.night-sky {
  background: radial-gradient(ellipse at bottom, #7575c1 0%, #090a0f 100%);
  position: relative;
  overflow: hidden;
}

.night-sky::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: transparent url('/stars.png') repeat;
  animation: moveStars 100s linear infinite;
  opacity: 0.05;
  pointer-events: none;
}

@keyframes moveStars {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100px, -100px);
  }
}
